@font-face {
    font-family: LCDMono2;
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url(LCDM2U.TTF) format("truetype")
}

@media {
    :root {
        display: grid;
        min-height: 100%;
        font-family: Arial,Roboto,sans-serif;
        font-size: 16px;
        line-height: 1.2;
        white-space: pre-wrap;
        white-space-collapse: preserve
}

@components {
    .header {
      position: absolute;
      width: 176px;
      height: 26px;
      left: 20px;
      top: 20px;
    }

}
